@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1a3a52;
  --color-gold: #b8860b;
  --color-teal: #008b8b;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background-color: #fff;
  color: #111827;
}

/* Tiny helper for gold color */
.text-gold {
  color: var(--color-gold);
}
.bg-gold {
  background-color: var(--color-gold);
}
